<!DOCTYPE html>
<html>
    <head></head>
    <body>
        Please sign In!
        <%= redirect_url %>
        <input type="text" name="email" /><br/>
        <input type="password" name="password" /></br>
        <button onclick="window.location.href='<%= redirect_url %>'">Continue</button>
    </body>
</html>
